body {
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.around {
    width: 650px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 150px;
}


.parent-div {
    display: flex;
    width: 700px;
    border: none;
}

.color {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;      
 
}
.parent-div .color:hover{
    margin-top: 2px;
}


button {
    margin-top: 5%;
    margin-left: 240px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 40px;
    outline: none;
}

button:hover {
    background-color: rgb(167, 40, 160);
    transform: scale(1.05);
}


@media screen and (max-width: 600px) {
    .around {
        width: 450px;
    }
    .parent-div {
        width: 400px;
    }
    .color {
        width: 70px;
        height: 70px;
    }
    button {
        margin-left: 180px;
    }
}